<p id="notice"><%= notice %></p>

<h1>Pict</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Img</th>
      <th>Notes</th>
      <th colspan="3"><center>Action</center></th>
    </tr>
  </thead>

  <tbody>
    <% @pic_gals.each do |pic_gal| %>
      <tr>
        <td><%= pic_gal.title %></td>
        <td><%= image_tag pic_gal.img.url(:thumb) %></td>
        <td><%= pic_gal.notes %></td>
        <td><center><%= link_to 'Show', pic_gal, class: 'btn btn-primary' %></center></td>
        <td><center><%= link_to 'Edit', edit_pic_gal_path(pic_gal), class: 'btn btn-warning' %></center></td>
        <td><center><%= link_to 'Destroy', pic_gal, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pict', new_pic_gal_path %>
